.goto .glyphicon {
    color:white !important;
}
.goto {
    margin: 10px 30px;
    float:right;
    z-index: 100;
}
.totop {
    opacity: 1;
}
.totop:hover {
    opacity: 0.7;
    transition:400ms;
    cursor:pointer;
}
